# pixi environments
.pixi/*
!.pixi/config.toml
.DS_Store
# ===== LaTeX (arquivos gerados) =====
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.out*.aux.xml
*.log
*.aux
*.bbl
*.synctex.gz
*.pdf
*.out
*.aux.xml
